@font-face {
	font-family: 'BIRTHOFAHERO';
	src: url('./BIRTHOFAHERO.eot');
	src: local('BIRTHOFAHERO'), url('./BIRTHOFAHERO.woff') format('woff'), url('./BIRTHOFAHERO.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_22206">Text with this font applied</p> */
.fontsforweb_fontid_22206 {
	font-family: 'BIRTHOFAHERO' !important;
}

/* Font downloaded from FontsForWeb.com */